@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url("/fonts/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  background: #e0ccb4;
  color: #193e57;
  font-size: 17px;
  height: 100%;
}

ul {
  margin: 0;
}

p {
  margin-top: 0;
  text-align: justify;
}

h1 {
  margin: 5px 5px 5px 0px;
  font-size: 1.65em;
}

h2 {
  margin: 5px 5px 5px 0px;
  font-size: 1.45em;
}

h3 {
  margin: 5px 5px 5px 0px;
  font-size: 1.1em;
  font-weight: bold;
  padding: 1rem 0rem;
}

h4 {
  margin: 5px 5px 5px 0px;
  font-size: 1em;
  font-weight: bold;
}

#icerik > div > main > h1 {
  display: none;
}

.govde a {
  text-decoration: underline;
}

.arsiv > p {
  text-align: right;
}

.navtr {
  display: flex;
  justify-content: space-evenly;
}

.navtr a {
  color: #193e57;
  font-size: 18px;
  font-weight: bold;
  margin-left: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  border-top: solid 2px #193e57;
  color: #555;
  font-size: 14px;
  margin-top: 30px;
  padding: 12px 0px 12px 0px;
  text-align: right;
}

footer a {
  font-weight: bold;
  color: #193e57;
}

.img-responsive {
  margin-top: 10%;
}

.container {
  height: inherit;
}

.row {
  height: inherit;
}

.bubble-speech {
  position: relative;
  line-height: 32px;
  letter-spacing: 1px;
  width: 220px;
  background-color: #24455c;
  padding: 12px;
}

.bubble-speech.bubble-right:after {
  z-index: 9002;
  display: block;
  content: "";
  position: absolute;
  bottom: -11px;
  right: 0;
  border-top: 0 #24455c solid;
  border-bottom: 12px transparent solid;
  border-right: 20px #24455c solid;
}

.diyalog-cl {
  position: absolute;
  left: -1%;
  top: 18%;
  z-index: 1000;
  color: #e2dbd2;
  background: #24455c;
  text-align: center;
}

.yazi-bullet > li {
  margin: 0 0 20px 0;
}

.yazi-bullet .title a:visited {
  color: #848058;
}

.karsilama {
  margin: 20px 0px;
}

main a {
  text-decoration: underline;
}

.sosyaller {
  display: flex;
  justify-content: space-evenly;
  padding-top: 24px;
}

.teaser-paragraph {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  word-wrap: break-word;
}

figure {
  text-align: center;
}

figure img {
  border: 2px solid #193e57;
}

figure figcaption {
  text-align: center;
  margin: 3px 3px 3px 3px;
}

code,
kbd,
pre,
samp {
  background: #2f2f2f;
  color: #e0ccb4;
}

@media (min-width: 200px) {
  figure img {
    width: 300px;
  }

  header {
    border-top: 2px solid #193e57;
    border-bottom: 2px solid #193e57;
    margin-top: 24px;
    margin-bottom: 0px;
    padding: 12px 36px 12px 36px;
    float: none;
    text-align: center;
    text-align: -webkit-center;
  }

  .ana {
    padding-top: 20px;
  }
}

@media (min-width: 600px) {
  figure img {
    width: 550px;
  }
}

@media (min-width: 768px) {
  #sol-sutun {
    height: inherit;
    background: -webkit-linear-gradient(left, #e0ccb4 5px, transparent 1%)
        center,
      -webkit-linear-gradient(#e0ccb4 5px, transparent 1%) center, #9c8569;
    background: -o-linear-gradient(left, #e0ccb4 5px, transparent 1%) center,
      -o-linear-gradient(#e0ccb4 5px, transparent 1%) center, #9c8569;
    background: linear-gradient(90deg, #e0ccb4 5px, transparent 1%) center,
      linear-gradient(#e0ccb4 5px, transparent 1%) center, #9c8569;
    background-size: 7px 7px;
  }
  
  header {
    border-bottom: 2px solid #193e57;
    border-top: none;
    margin-top: 0px;
    margin-bottom: 16px;
    padding: 12px 0px 8px 0px;
    float: right;
  }

  .ana {
    padding-top: 50px;
  }
}

@media (min-width: 992px) {
  #sol-sutun {
    height: inherit;
    background: -webkit-linear-gradient(left, #e0ccb4 5px, transparent 1%)
        center,
      -webkit-linear-gradient(#e0ccb4 5px, transparent 1%) center, #9c8569;
    background: -o-linear-gradient(left, #e0ccb4 5px, transparent 1%) center,
      -o-linear-gradient(#e0ccb4 5px, transparent 1%) center, #9c8569;
    background: linear-gradient(90deg, #e0ccb4 5px, transparent 1%) center,
      linear-gradient(#e0ccb4 5px, transparent 1%) center, #9c8569;
    background-size: 7px 7px;
  }
}

@media (min-width: 1200px) {
  #sol-sutun {
    height: inherit;
    background: -webkit-linear-gradient(left, #e0ccb4 5px, transparent 1%)
        center,
      -webkit-linear-gradient(#e0ccb4 5px, transparent 1%) center, #9c8569;
    background: -o-linear-gradient(left, #e0ccb4 5px, transparent 1%) center,
      -o-linear-gradient(#e0ccb4 5px, transparent 1%) center, #9c8569;
    background: linear-gradient(90deg, #e0ccb4 5px, transparent 1%) center,
      linear-gradient(#e0ccb4 5px, transparent 1%) center, #9c8569;
    background-size: 7px 7px;
  }
}

@media (min-width: 1500px) {
  #sol-sutun {
    height: inherit;
    background: -webkit-linear-gradient(left, #e0ccb4 5px, transparent 1%)
        center,
      -webkit-linear-gradient(#e0ccb4 5px, transparent 1%) center, #9c8569;
    background: -o-linear-gradient(left, #e0ccb4 5px, transparent 1%) center,
      -o-linear-gradient(#e0ccb4 5px, transparent 1%) center, #9c8569;
    background: linear-gradient(90deg, #e0ccb4 5px, transparent 1%) center,
      linear-gradient(#e0ccb4 5px, transparent 1%) center, #9c8569;
    background-size: 7px 7px;
  }
}
