---
title: Dükkan
---

<h3>Rastgele üç albüm</h3>
<ul class="karsilama">
  <li>Ruhi Su
    <a rel="noopener noreferrer"
       href="https://open.spotify.com/album/5zUFH3AGuIMDFV0ALByGZ9?si=pnhAI5XvR8uJxlwHtK5yZA"
       target="_blank">"Kadıköy Tiyatrosu Konseri"
    </a>
    <i>("Sığmazken atalarımız güne, yarına, düşmüşüm ben, düşmüşüm ben el kapılarına ")</i>
  </li>
  <li>Vintersorg
    <a rel="noopener noreferrer"
       href="https://open.spotify.com/album/4okyhozMaVY8UeFCp2lB3R?si=LCQMhMYpSTmjJU_3qzANSw"
       target="_blank">"Solens Rötter"
    </a>
    <i>("Marie Curie, din ande är fri")</i>
  </li>
  <li>Watchhouse (Eski Mandolin Orange)
    <a rel="noopener noreferrer"
       href="https://open.spotify.com/album/09NM7gTdr3ij71aksxr4Qs?si=zcrDqD3vSMScxXcVvmYpqg"
       target="_blank">"Tides of a Teardrop"</a>
    <i>("No glamour and no gold, just give me someone dear to hold")</i>
  </li>
</ul>
<h3>Yazılar</h3> $partial("templates/post-list.html")$
<small class="arsiv"><p>Arşive ulaşmak için <a href="/arsiv.html">tıklayınız</a>.</p></small>
