<article>
    <section class="header">
        <small>$date$ tarihinde
        $if(author)$
            $author$ tarafından yazıldı
        $endif$</small>
    <div class="info">
    $if(tags)$
    <small>Etiketler: <i>$tags$</i></small>
    $endif$
	</div>
    </section>
    <section class="govde">
        $body$
    </section>
</article>
