<ul>
$for(posts)$
	<div class="yazi-bullet">
		<li>
		    <div class="title"><a href="$url$" rel="bookmark" title="$title$">$title$</a></div>
		    <div style="opacity:0.8;"><small>
		            $date$ / <i>etiketler: $tags$</i>
		    </small></div>
	    </li>
	</div>
$endfor$
</ul>
<div>
$if(previousPageNum)$
<a href="$previousPageUrl$">◀ Yeni yazılar</a>
$endif$&nbsp;
</div>
<div style="text-align:right;">
$if(nextPageNum)$
<a href="$nextPageUrl$">Eski yazılar ▶</a>
$endif$&nbsp;
</div>