<ul>
$for(posts)$
<div class="yazi-bullet">
	<li>
	    <div class="title"><a href="$url$" rel="bookmark" title="$title$">$title$</a></div>
	    <div style="opacity:0.8;"><small>
	            $date$ / <i>etiketler: $tags$</i>
	    </small></div>
	    <p class= "teaser-paragraph">"$teaser$..."</p>
    	<a href="$url$" style="font-size: .95em;">Devamını oku</a>
    </li>
</div>
$endfor$
</ul>
